version 3.4
number_of_windows 1
begin_description
Number of messages comming to a node from the future

end_description

################################################################################
< NEW DISPLAYING WINDOW Incoming backward msgs >
################################################################################
window_name Incoming backward msgs
window_type single
window_id 1
window_position_x 232
window_position_y 98
window_width 600
window_height 671
window_maximum_y 70.000000
window_scale_relative 0.988383
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 0 0
window_click_info 1 930017142 931047722 46 930532432
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Recv Negative Messages}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, <}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 0.000000 10705615358.000000 1 96
window_filter_module bw_msg 1 0.000000 
window_filter_module evt_type 1 50000001 
