ConfigFile.Version: 3.4
ConfigFile.NumWindows: 6


################################################################################
< NEW DISPLAYING WINDOW Last Collective size >
################################################################################
window_name Last Collective size
window_type single
window_id 1
window_position_x 407
window_position_y 181
window_width 600
window_height 195
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 0.000000000000
window_minimum_y 0.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.092399000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, None}, {to_obj, None}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 2 50100001 51000001

################################################################################
< NEW DISPLAYING WINDOW In collective >
################################################################################
window_name In collective
window_type single
window_id 2
window_position_x 236
window_position_y 278
window_width 600
window_height 195
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 1.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.092399000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, None}, {to_obj, None}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 50000002

################################################################################
< NEW DISPLAYING WINDOW Collective size >
################################################################################
window_name Collective size
window_type composed
window_id 3
window_factors 1.000000000000 1.000000000000
window_operation product
window_identifiers 1 2
window_position_x 590
window_position_y 296
window_width 600
window_height 302
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 6760.000000000000
window_minimum_y 1056.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

################################################################################
< NEW DISPLAYING WINDOW Bytes btw events >
################################################################################
window_name Bytes btw events
window_type single
window_id 4
window_position_x 450
window_position_y 543
window_width 600
window_height 302
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 70572.000000000000
window_minimum_y 4.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.004803000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Event Bytes}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module task Thread i { 1, { 1 0.000000000000 } }
window_filter_module evt_type 1 50000001

################################################################################
< NEW DISPLAYING WINDOW Comm. size ( col + p2p) >
################################################################################
window_name Comm. size ( col + p2p)
window_type composed
window_id 5
window_factors 1.000000000000 1.000000000000
window_operation add
window_identifiers 3 4
window_position_x 73
window_position_y 276
window_width 600
window_height 584
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 70572.000000000000
window_minimum_y 4.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.010671000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }

################################################################################
< NEW DISPLAYING WINDOW MPI call >
################################################################################
window_name MPI call
window_type single
window_id 6
window_position_x 645
window_position_y 268
window_width 600
window_height 134
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 41.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.010671000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, [x,y]}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module task Thread i { 1, { 1 0.000000000000 } }
window_filter_module evt_type 2 50000001 50000003

< NEW ANALYZER2D >
Analyzer2D.Name: 3DH - size -call
Analyzer2D.X: 611
Analyzer2D.Y: 45
Analyzer2D.Width: 331
Analyzer2D.Height: 252
Analyzer2D.ControlWindow: 5
Analyzer2D.DataWindow: 5
Analyzer2D.Accumulator: Semantic
Analyzer2D.Statistic: Time
Analyzer2D.CalculateAll: True
Analyzer2D.HideCols: False
Analyzer2D.HorizVert: Horizontal
Analyzer2D.Color: True
Analyzer2D.SemanticColor: True
Analyzer2D.Zoom: Enabled
Analyzer2D.SortCols: False
Analyzer2D.SortCriteria: Average
Analyzer2D.Parameters: 4 -179769313486231360000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231360000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 -179769313486231360000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231360000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000
Analyzer2D.AnalysisLimits: Alltrace
Analyzer2D.ComputeYScale: True
Analyzer2D.Minimum: 4.000000000000
Analyzer2D.Maximum: 23040.000000000000
Analyzer2D.Delta: 153.573333333333
Analyzer2D.ComputeGradient: True
Analyzer2D.MinimumGradient: 39.069000000000
Analyzer2D.MaximumGradient: 7038.190000000000
Analyzer2D.3D_ControlWindow: 6
Analyzer2D.3D_Minimum: 3.000000000000
Analyzer2D.3D_Maximum: 59.000000000000
Analyzer2D.3D_Delta: 1.000000000000
Analyzer2D.3D_FixedValue: 3.000000000000

