version 3.4
number_of_windows 3
begin_description
Destination of large messages.

Threhold can be fixed in the filter for window "Destination of my last large message"
end_description

################################################################################
< NEW DISPLAYING WINDOW Destination of my last large  msg >
################################################################################
window_name Destination of my last large  msg
window_type single
window_id 1
window_position_x 263
window_position_y 478
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 256.000000
window_minimum_y 1.000000
window_scale_relative 0.000753
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 256
window_click_options 1 0 1 0 0 0
window_click_info 1 339771870 339953540 57 339862705
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Comm Partner}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, >}, {bw_msg, All}, {evt_type, [x,y]}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module size_msg 1 25000 
window_filter_module evt_type 2 50000001 50000003 

################################################################################
< NEW DISPLAYING WINDOW In Sending call >
################################################################################
window_name In Sending call
window_type single
window_id 2
window_position_x 330
window_position_y 91
window_width 600
window_height 114
window_comm_lines_enabled false
window_maximum_y 70.000000
window_scale_relative 0.000753
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 256
window_click_options 1 0 1 0 0 0
window_click_info 0 1199993607 1200016561 20 1200005084
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, [x,y]}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Is Equal (Sign)}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Is Equal (Sign) { 1, { 3 1.000000 3.000000 41.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 2 50000001 50000003 

################################################################################
< NEW DISPLAYING WINDOW Destination of large messages >
################################################################################
window_name Destination of large messages
window_type composed
window_id 3
window_factors 1.000000 1.000000
window_operation controlled: clear by
window_identifiers 1 2
window_position_x 437
window_position_y 289
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 256.000000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 256
window_click_options 1 0 1 0 0 0
window_click_info 0 339771870 339953540 57 339862705
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 402506973164.346069 403184958816.377319 1 256
