*~
*.o
*.lo
Makefile
Makefile.in
*.la
.libs
.deps
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
nanox.kdev4
src/.kdev_include_paths
stamp-h1
core
doc/doxy-nanox
doc/doxywarn.log
doc/html
doc/latex
src/utils/nanox
