version 3.4
number_of_windows 7
begin_description
Time the point to pint MPI call takes over what correlsponds to the linear model.
end_description

################################################################################
< NEW DISPLAYING WINDOW Time between MPI  events >
################################################################################
window_name Time between MPI  events
window_type single
window_id 1
window_position_x 254
window_position_y 148
window_width 600
window_height 242
window_comm_lines_enabled false
window_flags_enabled true
window_color_mode window_in_null_gradient_mode
window_maximum_y 420.827000
window_scale_relative 1.120896
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 1 1 0
window_click_info 0 6332507514 6332709994 15 6332608754
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Int. Between Evt}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, [x,y]}, {evt_value, All} } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 2 50000001 50000003 

################################################################################
< NEW DISPLAYING WINDOW In MPI p2p call >
################################################################################
window_name In MPI p2p call
window_type single
window_id 2
window_position_x 280
window_position_y 454
window_width 600
window_height 180
window_comm_lines_enabled false
window_flags_enabled true
window_maximum_y 70.000000
window_scale_relative 0.001997
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 6744311514 6744376424 13 6744343969
window_expanded true
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW MPI p2p call duration >
################################################################################
window_name MPI p2p call duration
window_type composed
window_id 3
window_factors 1.000000 1.000000
window_operation product
window_identifiers 1 2
window_position_x 354
window_position_y 136
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 17875.735040
window_minimum_y 8.008520
window_scale_relative 0.990456
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 0 0 0
window_click_info 1 8990865524 9205958000 22 9098411762
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Transfer time model >
################################################################################
window_name Transfer time model
window_type single
window_id 4
window_position_x 404
window_position_y 294
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 35651.584000
window_minimum_y 0.017000
window_scale_relative 0.990456
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 4061477007 4667633491 16 4364555249
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Event Bytes}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Prod}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 0.002130 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW Latency >
################################################################################
window_name Latency
window_type single
window_id 5
window_position_x 406
window_position_y 368
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 8.000000
window_minimum_y 0.017000
window_scale_relative 0.990456
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 0 4061477007 4667633491 16 4364555249
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Event Bytes}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, Prod} } }
window_semantic_module compose_thread Prod { 1, { 1 0.002130 } }
window_semantic_module topcompose Prod { 1, { 1 8.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW MPI Call time model >
################################################################################
window_name MPI Call time model
window_type composed
window_id 6
window_factors 1.000000 1.000000
window_operation add
window_identifiers 4 5
window_position_x 409
window_position_y 326
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 17875.735040
window_minimum_y 8.008520
window_scale_relative 0.990456
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 3576551819 4182708303 24 3879630061
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW MPI call excess duration >
################################################################################
window_name MPI call excess duration
window_type composed
window_id 7
window_factors 1.000000 1.000000
window_operation substract
window_identifiers 3 6
window_position_x 379
window_position_y 188
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 17875.735040
window_minimum_y 8.008520
window_scale_relative 0.990456
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 0 0 0
window_click_info 0 8990865524 9205958000 22 9098411762
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
