version 3.4
number_of_windows 7
begin_description
Duration of point to point communication phases.

Point to point calls are considered as belonging to the same phase if separated by less than 1ms.

end_description

################################################################################
< NEW DISPLAYING WINDOW Communication phase burst >
################################################################################
window_name Communication phase burst
window_type single
window_id 1
window_position_x 494
window_position_y 326
window_width 600
window_height 338
window_physical_filtered true
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 82871.429000
window_minimum_y 367.857000
window_scale_relative 0.989583
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 1 0
window_click_info 0 8157832 8973614 142 8565723
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, State Record Dur.}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, =}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Is In Range [)}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, Burst Time}, {topcompose2, Join Bursts} } }
window_semantic_module compose_thread Select Range [) { 2, { 1 9223372036854775808.000000, 1 3000.000000 } }
window_semantic_module compose_thread Is In Range [) { 2, { 1 9223372036854775808.000000, 1 1000.000000 } }
window_analyzer_executed 1
window_analyzer_info 2076206.650000 988274365.400000 1 256

################################################################################
< NEW DISPLAYING WINDOW Communication phase >
################################################################################
window_name Communication phase
window_type single
window_id 2
window_position_x 366
window_position_y 422
window_width 600
window_height 338
window_physical_filtered true
window_comm_lines_enabled false
window_maximum_y 1.000000
window_scale_relative 0.989583
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 1 0
window_click_info 1 8157832 8973614 142 8565723
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, State Record Dur.}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, =}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Is In Range [)}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, 1-Sign}, {topcompose2, Join Bursts} } }
window_semantic_module compose_thread Select Range [) { 2, { 1 9223372036854775808.000000, 1 3000.000000 } }
window_semantic_module compose_thread Is In Range [) { 2, { 1 9223372036854775808.000000, 1 1000.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Communication phase duration >
################################################################################
window_name Communication phase duration
window_type composed
window_id 3
window_factors 1.000000 1.000000
window_operation product
window_identifiers 1 2
window_position_x 642
window_position_y 205
window_width 600
window_height 338
window_physical_filtered true
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 80384.785000
window_minimum_y 1466.428000
window_scale_relative 0.063063
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 1 0
window_click_info 1 34881489 55384839 156 45133164
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 0.000000 990350572.000000 1 256

################################################################################
< NEW DISPLAYING WINDOW Outside MPI collectives >
################################################################################
window_name Outside MPI collectives
window_type single
window_id 4
window_position_x 242
window_position_y 257
window_width 600
window_height 338
window_comm_lines_enabled false
window_maximum_y 70.000000
window_scale_relative 0.968486
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 0 0
window_click_info 0 32283334120 32309105806 0 32296219963
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, 1-Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose2 Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000002 

################################################################################
< NEW DISPLAYING WINDOW Not idle >
################################################################################
window_name Not idle
window_type single
window_id 5
window_position_x 78
window_position_y 172
window_width 600
window_height 338
window_comm_lines_enabled false
window_maximum_y 17.000000
window_scale_relative 0.974161
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded true
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Not In State}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_semantic_module thread Not In State { 1, { 1 0.000000 } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose2 Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Filter >
################################################################################
window_name Filter
window_type composed
window_id 6
window_factors 1.000000 1.000000
window_operation product
window_identifiers 4 5
window_position_x 266
window_position_y 317
window_width 600
window_height 338
window_comm_lines_enabled false
window_maximum_y 70.000000
window_scale_relative 0.968486
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 85
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 0 0
window_click_info 0 32283334120 32309105806 0 32296219963
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW p2p comm. phase duration >
################################################################################
window_name p2p comm. phase duration
window_type composed
window_id 7
window_factors 1.000000 1.000000
window_operation product
window_identifiers 3 6
window_position_x 588
window_position_y 521
window_width 600
window_height 338
window_physical_filtered true
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 70339.785000
window_minimum_y 807.071000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 593
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 128
window_click_options 1 0 1 0 1 0
window_click_info 1 1189069956 1190939082 17 1190004519
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 0.000000 1495467285.000000 1 128
