version 3.3
number_of_windows 1
begin_description
Total number of bytes in transit.
end_description

################################################################################
< NEW DISPLAYING WINDOW total bytes in transit >
################################################################################
window_name total bytes in transit
window_type single
window_id 1
window_position_x 404
window_position_y 517
window_width 600
window_height 140
window_comm_lines_enabled false
window_noncolor_mode false
window_color_mode window_in_null_gradient_mode
window_maximum_y 2723208.000000
window_level appl
window_scale_relative 0.117784
window_object appl { 1, { 1 } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 85
window_number_of_row 1
window_click_options 1 0 1 0 0 0
window_click_info 1 13819603 14039945 0 13929774
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Recv Bytes in Transit}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 2, { {compose1, As Is}, {compose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
