version 3.4
number_of_windows 3
begin_description
Number of L2 cache misses per 1000 instructions
end_description

################################################################################
< NEW DISPLAYING WINDOW L3 Data cache misses >
################################################################################
window_name L3 Data cache misses
window_type single
window_id 1
window_position_x 409
window_position_y 424
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 85491202.000000
window_scale_relative 1.025794
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 1 1 0
window_click_info 0 1357379659856 1360302986694 15 1358841323275
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 42000004 

################################################################################
< NEW DISPLAYING WINDOW Instructions >
################################################################################
window_name Instructions
window_type single
window_id 2
window_position_x 384
window_position_y 372
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 58464989026.000000
window_scale_relative 0.072708
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 1 1 0
window_click_info 1 1357379659856 1360302986694 15 1358841323275
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 1
window_analyzer_info 1336039373936.479736 1457649770409.751953 1 64
window_filter_module evt_type 1 42000050 

################################################################################
< NEW DISPLAYING WINDOW L3 Data cache misses per 1000 instr >
################################################################################
window_name L3 Data cache misses per 1000 instr
window_type composed
window_id 3
window_factors 1000.000000 1.000000
window_operation divide
window_identifiers 1 2
window_position_x 405
window_position_y 278
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 4.000000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 14460964887 14944609197 14 14702787042
window_expanded false
window_open false
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
