#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=hardening=-all

# Ubuntu's dpkg-buildpackage sets LDFLAGS=-Wl,-Bsymbolic-functions
# That breaks the call to nanos_init
comma := ,
LDFLAGS := $(filter-out -Wl$(comma)-Bsymbolic-functions,$(LDFLAGS))

# Parallel makes
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
MAKEFLAGS += -j$(NUMJOBS)
endif

%:
	dh $@ --parallel

# Compat version != 8 sets libdir and libexecdir to something like /usr/lib/x86_64-linux-gnu
override_dh_auto_configure:
	dh_auto_configure -- --libdir=$$\{prefix\}/lib/ --libexecdir=$$\{prefix\}/lib/ --with-extrae=/usr
