version 3.4
number_of_windows 1

################################################################################
< NEW DISPLAYING WINDOW Active counter set >
################################################################################
window_name Active counter set
window_type single
window_id 1
window_position_x 105
window_position_y 373
window_width 600
window_height 134
window_physical_filtered true
window_comm_lines_enabled false
window_maximum_y 9223372036854775808.000000
window_minimum_y 1.000000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 140
window_number_of_row 16
window_click_options 1 0 1 0 1 0
window_click_info 1 33226631649 35583130347 11 34404880998
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, =}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 42009999 
