version 3.4
number_of_windows 1

################################################################################
< NEW DISPLAYING WINDOW Not Useful >
################################################################################
window_name Not Useful
window_type single
window_id 1
window_position_x 387
window_position_y 287
window_width 600
window_height 147
window_comm_lines_enabled false
window_scale_relative 0.955252
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 16
window_click_options 1 0 1 1 1 0
window_click_info 0 1536415172456 1538138010346 35 1537276591401
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Useful}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, 1-Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 1
window_analyzer_info 947824158.542278 64722849683.315544 1 16
