version 3.4
number_of_windows 5
begin_description
Cost (ns/byte) of point to point call 



end_description

################################################################################
< NEW DISPLAYING WINDOW Time between MPI  p2p events >
################################################################################
window_name Time between MPI  p2p events
window_type single
window_id 1
window_position_x 254
window_position_y 148
window_width 600
window_height 242
window_comm_lines_enabled false
window_flags_enabled true
window_color_mode window_in_null_gradient_mode
window_maximum_y 420.827000
window_scale_relative 1.321681
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 1 1 0
window_click_info 0 6332507514 6332709994 15 6332608754
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Int. Between Evt}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW In MPI p2p call >
################################################################################
window_name In MPI p2p call
window_type single
window_id 2
window_position_x 280
window_position_y 454
window_width 600
window_height 180
window_comm_lines_enabled false
window_flags_enabled true
window_maximum_y 70.000000
window_scale_relative 0.002354
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 6744311514 6744376424 13 6744343969
window_expanded true
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW MPI call duration >
################################################################################
window_name MPI call duration
window_type composed
window_id 3
window_factors 1.000000 1.000000
window_operation product
window_identifiers 1 2
window_position_x 282
window_position_y 216
window_width 600
window_height 242
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 22679.494000
window_scale_relative 0.002354
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 1 1 0
window_click_info 1 1151622289 1155851753 5 1153737021
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Bytes btw events >
################################################################################
window_name Bytes btw events
window_type single
window_id 4
window_position_x 363
window_position_y 500
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 8388608.000000
window_scale_relative 0.040006
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 598
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 1 0 1 0 0 0
window_click_info 1 5416363130 5424222472 12 5420292801
window_expanded false
window_open false
window_drawmode 0
window_drawmode_rows 0
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Thread i}, {thread, Event Bytes}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose Prod { 1, { 1 1.000000 } }
window_analyzer_executed 1
window_analyzer_info 0.000000 10687491064.000000 1 32
window_filter_module evt_type 1 50000001 

################################################################################
< NEW DISPLAYING WINDOW MPI call cost (ns/byte) >
################################################################################
window_name MPI call cost (ns/byte)
window_type composed
window_id 5
window_factors 1000.000000 1.000000
window_operation divide
window_identifiers 3 4
window_position_x 384
window_position_y 203
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 4.000000
window_minimum_y 2.000000
window_scale_relative 1.019876
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 585
window_pos_of_x_scale 18
window_pos_of_y_scale 80
window_number_of_row 32
window_click_options 0 0 1 0 0 0
window_click_info 1 3726217338 4368668602 22 4047442970
window_expanded false
window_open false
window_compose_functions { 8, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose, As Is} } }
window_analyzer_executed 1
window_analyzer_info 0.000000 33407465786.000000 1 32
