ConfigFile.Version: 3.4
ConfigFile.NumWindows: 8


################################################################################
< NEW DISPLAYING WINDOW raw task number.c1 >
################################################################################
window_name raw task number.c1
window_type single
window_id 1
window_position_x 338
window_position_y 276
window_width 592
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 8716.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9200002

################################################################################
< NEW DISPLAYING WINDOW In Task.c1 >
################################################################################
window_name In Task.c1
window_type single
window_id 2
window_position_x 338
window_position_y 276
window_width 625
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 9.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.939929328622
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9200011

################################################################################
< NEW DISPLAYING WINDOW Task Number.c1 >
################################################################################
window_name Task Number.c1
window_type composed
window_id 3
window_factors 1.000000000000 1.000000000000
window_operation product
window_identifiers 1 2
window_position_x 299
window_position_y 153
window_width 641
window_height 195
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 93.000000000000
window_minimum_y -14.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.298291906523
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open true
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Subs}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Subs { 1, { 1 14.000000000000 } }

################################################################################
< NEW DISPLAYING WINDOW Task >
################################################################################
window_name Task
window_type single
window_id 4
window_position_x 299
window_position_y 21
window_width 641
window_height 195
window_comm_lines_enabled false
window_flags_enabled true
window_noncolor_mode true
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 100.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.298291906523
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, >}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Stacked Val}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module from_obj 1 1
window_filter_module tag_msg 1 1
window_filter_module evt_type 1 9200011

################################################################################
< NEW DISPLAYING WINDOW raw task number.c1.c1 >
################################################################################
window_name raw task number.c1.c1
window_type single
window_id 5
window_position_x 337
window_position_y 191
window_width 592
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 8716.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9200002

################################################################################
< NEW DISPLAYING WINDOW In Task.c1.c1 >
################################################################################
window_name In Task.c1.c1
window_type single
window_id 6
window_position_x 337
window_position_y 191
window_width 625
window_height 115
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 9.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.939929328622
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Sign}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9200011

################################################################################
< NEW DISPLAYING WINDOW Task Number.c1.c1 >
################################################################################
window_name Task Number.c1.c1
window_type composed
window_id 7
window_factors 1.000000000000 1.000000000000
window_operation product
window_identifiers 5 6
window_position_x 337
window_position_y 191
window_width 641
window_height 195
window_comm_lines_enabled false
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_units Microseconds
window_maximum_y 93.000000000000
window_minimum_y -14.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 0.298291906523
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 5, { {appl, Adding}, {task, Adding}, {node, Adding}, {system, Adding}, {workload, Adding}, } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Subs}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Subs { 1, { 1 14.000000000000 } }

################################################################################
< NEW DISPLAYING WINDOW task per core order >
################################################################################
window_name task per core order
window_type single
window_id 8
window_position_x 432
window_position_y 58
window_width 592
window_height 115
window_comm_lines_enabled true
window_flags_enabled false
window_noncolor_mode true
window_color_mode window_in_null_gradient_mode
window_logical_filtered true
window_physical_filtered false
window_comm_fromto true
window_comm_tagsize true
window_comm_typeval true
window_units Microseconds
window_maximum_y 67.000000000000
window_minimum_y 1.000000000000
window_compute_y_max false
window_level thread
window_scale_relative 1.000000000000
window_end_time_relative 1.000000000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_open false
window_drawmode 1
window_drawmode_rows 1
window_pixel_size 1
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Last Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, >} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, Nesting level}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_filter_module evt_type 1 9200002
window_filter_module evt_value 1 0

< NEW ANALYZER2D >
Analyzer2D.Name: 2DP - task number - task type
Analyzer2D.X: 674
Analyzer2D.Y: 65
Analyzer2D.Width: 600
Analyzer2D.Height: 303
Analyzer2D.ControlWindow: 3
Analyzer2D.DataWindow: 4
Analyzer2D.Accumulator: Semantic
Analyzer2D.Statistic: Average value
Analyzer2D.CalculateAll: True
Analyzer2D.HideCols: False
Analyzer2D.HorizVert: Horizontal
Analyzer2D.Color: True
Analyzer2D.SemanticColor: False
Analyzer2D.Zoom: Enabled
Analyzer2D.SortCols: False
Analyzer2D.SortCriteria: Average
Analyzer2D.Parameters: 4 -179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 -179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000
Analyzer2D.AnalysisLimits: Alltrace
Analyzer2D.ComputeYScale: False
Analyzer2D.Minimum: 1.000000000000
Analyzer2D.Maximum: 100.000000000000
Analyzer2D.Delta: 1.000000000000
Analyzer2D.ComputeGradient: True
Analyzer2D.MinimumGradient: 1.000000000000
Analyzer2D.MaximumGradient: 2.000000000000
Analyzer2D.PixelSize: 1

< NEW ANALYZER2D >
Analyzer2D.Name: 2DP - task number - execution order
Analyzer2D.X: 672
Analyzer2D.Y: 336
Analyzer2D.Width: 600
Analyzer2D.Height: 306
Analyzer2D.ControlWindow: 7
Analyzer2D.DataWindow: 8
Analyzer2D.Accumulator: Semantic
Analyzer2D.Statistic: Average value
Analyzer2D.CalculateAll: True
Analyzer2D.HideCols: False
Analyzer2D.HorizVert: Horizontal
Analyzer2D.Color: True
Analyzer2D.SemanticColor: False
Analyzer2D.Zoom: Enabled
Analyzer2D.SortCols: False
Analyzer2D.SortCriteria: Average
Analyzer2D.Parameters: 4 -179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 -179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000 179769313486231610000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000.000000000000
Analyzer2D.AnalysisLimits: Alltrace
Analyzer2D.ComputeYScale: False
Analyzer2D.Minimum: 1.000000000000
Analyzer2D.Maximum: 100.000000000000
Analyzer2D.Delta: 1.000000000000
Analyzer2D.ComputeGradient: True
Analyzer2D.MinimumGradient: 2.000000000000
Analyzer2D.MaximumGradient: 22.000000000000
Analyzer2D.PixelSize: 1

