version 3.4
number_of_windows 5
begin_description
Branch mix  (branches/Kinstr) in useful computation (not MPI)
end_description

################################################################################
< NEW DISPLAYING WINDOW Branches >
################################################################################
window_name Branches
window_type single
window_id 1
window_position_x 269
window_position_y 540
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 451758142613.000000
window_scale_relative 1.117997
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 75
window_pos_of_x_scale 18
window_pos_of_y_scale 75
window_number_of_row 9
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose2 Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 42000055 

################################################################################
< NEW DISPLAYING WINDOW Instructions >
################################################################################
window_name Instructions
window_type single
window_id 2
window_position_x 245
window_position_y 486
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 451758142613.000000
window_scale_relative 1.117997
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 75
window_pos_of_x_scale 18
window_pos_of_y_scale 75
window_number_of_row 9
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Next Evt Val}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, =}, {evt_value, All} } }
window_semantic_module thread Avg Next Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Avg Last Evt Val { 1, { 1 1000.000000 } }
window_semantic_module thread Send BandWidth { 1, { 1 1024.000000 } }
window_semantic_module thread Recv BandWidth { 1, { 1 1024.000000 } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_semantic_module compose_thread Prod { 1, { 1 1.000000 } }
window_semantic_module topcompose2 Prod { 1, { 1 1.000000 } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
window_filter_module evt_type 1 42000050 

################################################################################
< NEW DISPLAYING WINDOW Branch mix (branches/Kinstr) >
################################################################################
window_name Branch mix (branches/Kinstr)
window_type composed
window_id 3
window_factors 1000.000000 1.000000
window_operation divide
window_identifiers 1 2
window_position_x 19
window_position_y 542
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 300.000000
window_scale_relative 1.117997
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 542
window_pos_of_x_scale 18
window_pos_of_y_scale 75
window_number_of_row 9
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Useful >
################################################################################
window_name Useful
window_type single
window_id 4
window_position_x 420
window_position_y 120
window_width 600
window_height 147
window_comm_lines_enabled false
window_scale_relative 1.028112
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 583
window_pos_of_x_scale 18
window_pos_of_y_scale 75
window_number_of_row 9
window_click_options 1 0 1 1 1 0
window_click_info 0 1536415172456 1538138010346 35 1537276591401
window_expanded false
window_open false
window_selected_functions { 14, { {cpu, Active Thd}, {appl, Adding}, {task, Adding}, {thread, Useful}, {node, Adding}, {system, Adding}, {workload, Adding}, {from_obj, All}, {to_obj, All}, {tag_msg, All}, {size_msg, All}, {bw_msg, All}, {evt_type, All}, {evt_value, All} } }
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0

################################################################################
< NEW DISPLAYING WINDOW Useful Branch mix (branches/Kinstr) >
################################################################################
window_name Useful Branch mix (branches/Kinstr)
window_type composed
window_id 5
window_factors 1.000000 1.000000
window_operation product
window_identifiers 3 4
window_position_x 501
window_position_y 366
window_width 600
window_height 114
window_comm_lines_enabled false
window_color_mode window_in_null_gradient_mode
window_maximum_y 300.000000
window_scale_relative 1.000000
window_object appl { 1, { All } }
window_begin_time_relative 0.000000000000
window_pos_to_disp 597
window_pos_of_x_scale 18
window_pos_of_y_scale 75
window_number_of_row 9
window_click_options 1 0 1 1 1 0
window_click_info 0 719698 719868 2 719698
window_expanded false
window_open false
window_compose_functions { 9, { {compose_cpu, As Is}, {compose_appl, As Is}, {compose_task, As Is}, {compose_thread, As Is}, {compose_node, As Is}, {compose_system, As Is}, {compose_workload, As Is}, {topcompose1, As Is}, {topcompose2, As Is} } }
window_analyzer_executed 0
window_analyzer_info 0.000000 0.000000 0 0
